
    <div class="@ViewData["class"]">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue-madison calendar">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar"></i>@ViewData["name"]
                </div>
            </div>
            <div class="portlet-body light-grey">
                <div id="@ViewData["id"]" class="calendar" data-type="calendar">
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>



