@model Portal.Models.WidgetDataModel 
<div class="@ViewData["class"]">
    <div id="chartdiv_@Model.PageWidgetId" data-type="chart" data-id="@Model.PageWidgetId" style="height:300px" class="col-md-12"></div>
</div>
