@model Portal.Models.GeneralModel 
<!-- BEGIN PAGE CONTENT INNER -->

@Styles.Render("~/assets/admin/pages/css/error.css")
@{ String ErrorMess = Model.ExtraViewModel.ErrorMessage == null || Model.ExtraViewModel.ErrorMessage == String.Empty ? "Oops! Something went wrong." : Model.ExtraViewModel.ErrorMessage;}
<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number">
            500
        </div>
        <div class=" details">
            <h3>@ErrorMess</h3>
            <p>
                Contact Your System Administrator!<br />
            </p>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->


