<!-- BEGIN PAGE CONTENT INNER -->
@Styles.Render("~/assets/admin/pages/css/error.css")
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number">
            401
        </div>
        <div class="details">
            <h3>Privilige Error</h3>
            <p>This user has no role!<br />
                
            </p>

        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->
